//Csss Gerald
@import "bootstrap" ;

/*Header*/

.form-inline .form-group {
 display: flex;
 align-items: center;
 margin: 5px;
}

.navbar-fixed-top {
 background-color: white;
}

.img-header {
  height: 26px;
  width: 26px;
  margin: 0.5rem;
}

.searcher {
 background-color: lightgray;
 height: 20px !important;
 width: 80% !important;
 display: inline !important;
}

.hmenu {
 height: 15px;
 width: 15px;
}

/*Down*/
.weight-800{
    font-weight: 800;
}
.contscroll{
    margin: auto;
    margin-top: 30px;
    height: 64px;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 103;
    background-color: rgba(255, 255, 255, 0.95);
}
.contscroll__fixed{
    margin-right: auto;
    margin-left: auto;
    display: flex;
    max-width: 755px;
    justify-content: space-between;
}
.contscroll__fixed__btn{
    margin-top: 9px;
}
.contscroll__fixed--ico{
    margin-top: 8px;
    height: 48px;
    width: 48px;
    padding-top: 10px;
    display: inline-block;
    cursor: pointer;
}
.contscroll__fixed--ico:hover{
    border-radius: 50%;
    background-color: rgba(0,0,0,.06);
}
.icon-share-alternitive:before{
    color: #b5b5b5;
    font-size: 25px;
    font-weight: 600;
    margin-left: 10px;
}

/*Title*/
.right{
    float: right;
}
.title{
    margin: auto;
    margin-top: 100px;
    max-width: 744px;
    position: relative;
    color: #555;
}
.title__title{
    letter-spacing: -1.25px;
}
.title .title__pines{
    margin-bottom: 0;
}

.title__userprinc{
    border-radius: 50%;
    height: 60px;
    margin-right: 9px;
    width: 60px;
    float: right;
}
//Css Maia
a {
  color: rgb(85, 85, 85) !important;
}
a:hover, a:focus {
  color: rgb(85, 85, 85) !important;
  text-decoration: underline !important;
}
.root , .wrapper, .fondo{
  margin: 0;
  padding: 0;
}
.coment_1{
  padding: 2%;
}
.flex{
    display: flex;
}
.items-center {
    align-items: center;
}
.justify-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
.flex_center{
  display: flex;
  justify-content: center;
  align-items: center;
}
h5{
  color: #555;
  font-weight: 700;
}
.btn{
  background-color: #B7071B;
  color: white;
}
.mr1{
  color: rgb(181, 181, 181);
  border-radius: 50%;
  background-color: transparent;
  height: 40px;
  width: 40px;
  cursor: crosshair !important;
}
.mr1:hover{
  background-color: rgba(0,0 , 0, 0.06);
}
.grid { /* Masonry container */
  column-count: 5;
  column-gap: 1em;
}
.item { /* Masonry bricks or child elements */
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}
.pin{
  position: relative;
  h3{
    font-size:14px;
    margin:0;

  }
  .pin__autor{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 7px;
  }
  .pin__autor-arabela{
    margin-right: 4px;
    height: 40px;
    width: 40px;
  }
  .pin__upload,
  .pin__pinear {
    display: none;
    position: absolute;
    top: 18.5px;
    padding: 8px;
    border-radius: 5px;
  }
}
